# Dependencias y artefactos de Astro / Node
node_modules/
dist/
.astro/
.DS_Store
*.log

# variables de entorno locales
.env
.env.local

# e2e (Playwright)
.env.e2ebak
test-results/
playwright-report/
